using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace DataStructureAndAlgorithm
{
    class _
    {
        *.suo
*.user
_ReSharper.*
bin
obj
packages
    }
}
